<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>Amanda Almeida</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&amp;subset=latin-ext" rel="stylesheet">
    <!-- CSS Libraries -->
    <link href="assets/css/libs.css" rel="stylesheet">
    <!-- Theme styles -->
    <link href="assets/css/app.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="tej">
        <!-- ========================================= PRELOADER ========================================= -->
        <div class="Preloader" id="Preloader">
            <div class="Preloader__center --v3">
                <div class="Preloader__element"></div>
                <div class="Preloader__element"></div>
                <div class="Preloader__element"></div>
                <div class="Preloader__element"></div>
            </div>
        </div>
        <!-- ========================================= PRELOADER :END ========================================= -->

        <!-- ========================================= LOGO & NAVIGATION ========================================= -->
        <div class="Navigation">
            <nav class="Navigation__bar navbar navbar-fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="#Intro"><img src="assets/images/logo.png" alt="" class="img-responsive"> </a>
                    <div class="Navigation__mobile-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="Navigation__navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="page-scroll" href="#Intro">Home</a></li>
                        <li class=""><a class="page-scroll" href="#About">Sobre</a></li>
                        <li class=""><a class="page-scroll" href="#Services">Serviços</a></li>
                        <li><a class="page-scroll" href="#Portfolio">Portfolio</a></li>
                        <li><a class="page-scroll" href="#Blog">Blog</a></li>
                        <li><a class="page-scroll" href="#Contact">Contato</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <!-- ========================================= LOGO & NAVIGATION :END ========================================= -->

        <!-- ========================================= INTRO SECTION ========================================= -->
        <div class="Intro Intro--single-photo" id="Intro" style="background-image: url(http://via.placeholder.com/1920x1024)">
            <intro-typing></intro-typing>
            <start-arrow text=""></start-arrow>
        </div>
        <!-- ========================================= INTRO SECTION :END ========================================= -->

        <!-- ========================================= ABOUT ME SECTION ========================================= -->
        <section id="About" class="about-me-photo" style="background-image: url(http://via.placeholder.com/800x800); background-position: left bottom">
            <div class="section--basic">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-lg-offset-5">
                            <div class="about-me">
                                <div class="headline">
                                    <h2>Olá, Eu sou Amanda Almeida!</h2>
                                </div>
                                <h4 data-aos="fade">Algumas palavras sobre mim</h4>
                                <div class="about-me-text" data-aos="fade">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequatur earum hic, beatae, dolorem, maxime voluptate, veritatis iure ea assumenda est pariatur ipsa dolor molestias nam ratione modi eaque sunt expedita fugiat, vero voluptates ratione onsequatur earum hic, beatae, dolorem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fugiat, vero voluptates ratione reiciendis dicta, dolores labore neque itaque, consectetur vitae quos, magnam! Esse nostrum placeat laudantium amet sunt modi alias, vel suscipit.</p>
                                </div>
                                <div class="buttons-group mt-2">
                                    <a href="#">
                                        <button class="btn btn-black" data-aos="fade" data-aos-delay="300">Download CV</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========================================= ABOUT ME SECTION :END ========================================= -->

        <!-- ========================================= SERVICES SECTION ========================================= -->
        <section id="Services">
            <div class="section--basic section--darker">
                <div class="container">
                    <div class="headline">
                        <h2>Habilidades</h2>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-6 col-md-3">
                            <div class="offer-wrap" data-aos="fade">
                                <div class="offer-box">
                                    <i class="icon-laptop"></i>
                                    <h4>Marketing Digital</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, hic.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="offer-wrap" data-aos="fade" data-aos-delay="150">
                                <div class="offer-box">
                                    <i class="icon-tools"></i>
                                    <h4>Assessoria</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="offer-wrap" data-aos="fade" data-aos-delay="300">
                                <div class="offer-box">
                                    <i class="icon-heart"></i>
                                    <h4>Branding</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, mollitia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="offer-wrap" data-aos="fade" data-aos-delay="450">
                                <div class="offer-box">
                                    <i class="icon-mobile"></i>
                                    <h4>Planejamento Digital</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, veritatis?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========================================= SERVICES SECTION :END ========================================= -->
        
        <!-- ========================================= COUNTERS SECTION ========================================= -->
        <div class="section paralax-counters" id="Counters" style="background-image: url(http://via.placeholder.com/1920x1024)">
            <div class="section--basic">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <counter data-aos="fade" data-aos-offset="50" :number="97" text="Projetos Completos" icon="fa fa-code"></counter>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <counter data-aos="fade" data-aos-offset="50" data-aos-delay="50" :number="80" text="Clientes Felizes" icon="fa fa-heart"></counter>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <counter data-aos="fade" data-aos-offset="50" data-aos-delay="30" :number="580" text="Xícaras de Café" icon="fa fa-coffee"></counter>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <counter data-aos="fade" data-aos-offset="50" data-aos-delay="45" :number="148" text="Amigos" icon="fa fa-trophy"></counter>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========================================= COUNTERS SECTION :END ========================================= -->

        <!-- ========================================= PORTFOLIO SECTION ========================================= -->
        <section id="Portfolio">
            <div class="section--basic">
                <div class="container">
                    <div class="headline">
                        <h2>Meu Portfólio</h2>
                    </div>
                </div>

                <portfolio :lightbox="true" :data='[
                    {"name": "Item name", "image": "http://via.placeholder.com/476x476", "href": "http://via.placeholder.com/1300x950", "tags": ["Assessoria"]},
                    {"name": "Item name", "image": "http://via.placeholder.com/476x476", "href": "http://via.placeholder.com/1300x950", "tags": ["Marketing Digital"]},
                    {"name": "Item name", "image": "http://via.placeholder.com/476x476", "href": "http://via.placeholder.com/1300x950", "tags": ["Assessoria"]},
                    {"name": "Item name", "image": "http://via.placeholder.com/476x476", "href": "http://via.placeholder.com/1300x950", "tags": ["Marketing Digital", "Branding"]},
                    {"name": "Item name", "image": "http://via.placeholder.com/476x476", "href": "http://via.placeholder.com/1300x950", "tags": ["Assessoria"]},
                    {"name": "Item name", "image": "http://via.placeholder.com/476x476", "href": "http://via.placeholder.com/1300x950", "tags": ["Branding"]},
                    {"name": "Item name", "image": "http://via.placeholder.com/476x476", "href": "http://via.placeholder.com/1300x950", "tags": ["Assessoria"]},
                    {"name": "Item name", "image": "http://via.placeholder.com/476x476", "href": "http://via.placeholder.com/1300x950", "tags": ["Marketing Digital"]}
                ]'>
                </portfolio>
                
<!--
                <div class="buttons-group buttons-group-center mt-3 Portfolio-see-more" data-aos="fade">
                    <a href="project-list.html" class="btn btn-black btn-right-icon">See more <i class="fa fa-long-arrow-right"></i></a>
                </div>
-->
            </div>
        </section>
        <!-- ========================================= PORTFOLIO SECTION :END ========================================= -->

        <!-- ========================================= BLOG SECTION ========================================= -->
        <section id="Blog">
            <div class="section--basic section--darker">
                <div class="container">
                    <div class="headline">
                        <h2>Últimas postagens</h2>
                    </div>
                    <div class="Blog pt-2">
                        <div class="row">
                            <div class="col-sm-4" data-aos="fade">
                                <div class="Blog__post">
                                    <div class="Blog__post-image">
                                        <a href="blog-post.html"><img src="http://via.placeholder.com/370x500" alt=""></a>
                                    </div>
                                    <div class="Blog__post-caption">
                                        <a href="blog-post.html"><h4>Consectetur adipisicing elit fugiat minima</h4></a>
                                        <ul class="Blog__post-categories">
                                            <li>Fugiat,</li>
                                            <li>Aspernatur</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" data-aos="fade" data-aos-delay="200">
                                <div class="Blog__post">
                                    <div class="Blog__post-image">
                                        <a href="blog-post.html"><img src="http://via.placeholder.com/370x500" alt=""></a>
                                    </div>
                                    <div class="Blog__post-caption">
                                        <a href="blog-post.html"><h4>Consectetur adipisicing elit fugiat minima</h4></a>
                                        <ul class="Blog__post-categories">
                                            <li>Fugiat,</li>
                                            <li>Aspernatur</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" data-aos="fade" data-aos-delay="400">
                                <div class="Blog__post">
                                    <div class="Blog__post-image">
                                        <a href="blog-post.html"><img src="http://via.placeholder.com/370x500" alt=""></a>
                                    </div>
                                    <div class="Blog__post-caption">
                                        <a href="blog-post.html"><h4>Consectetur adipisicing elit fugiat minima</h4></a>
                                        <ul class="Blog__post-categories">
                                            <li>Fugiat,</li>
                                            <li>Aspernatur</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========================================= BLOG SECTION :END ========================================= -->
        
        <!-- ========================================= TESTIMONIALS SECTION ========================================= -->
        <div class="section paralax-testimonials ">
            <testimonials>
                <testimonial author="Dayane Fontes - Publicitária">
                    <i class="icon-profile-female"></i>
                    <p>Demostra muito empenho em seu trabalho e uma extrema motivação para atingir seus objetivos. Tem uma excelente capacidade de trabalho em equipe mostrando em várias ocasiões espírito de responsabilidade e auto-motivação.</p>
                </testimonial>
                <testimonial author="Lina Lopes - Diretora de Inovação">
                    <i class="icon-profile-female"></i>
                    <p>Comprometimento, ânimo, responsabilidade e posicionamento firme no trabalho. Nada fica sem solução na mão desta mulher!</p>
                </testimonial>
                <testimonial author="Walter White">
                    <i class="icon-profile-male"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe consequapur voluptatem molestiae vel incidunt omnis delectus, eaque fuga, vitae tempora esse ipsum iste molestias libero fugit sapiente sed! Possimus, quia.</p>
                </testimonial>
            </testimonials>
        </div>
        <!-- ========================================= TESTIMONIALS SECTION :END ========================================= -->

        <!-- ========================================= CONTACT SECTION ========================================= -->
        <section id="Contact" class="about-me-photo" style="background-image: url(http://via.placeholder.com/800x800); background-position: left bottom">
            <div class="section--basic section--darker">
                <div class="container">
                    <div class="headline">
                        <h2>Contato</h2>
                    </div>
                    <div class="Contact pt-2">
                        <div class="row">
                            <div class="col-lg-7 col-lg-offset-5">
                                <h4 data-aos="fade">Sinta-se à vontade para me contatar!</h4>
                                <p data-aos="fade">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate dolores, quasi unde quisquam facilis at ullam aperiam similique dicta voluptatibus!</p>
                                <div class="Contact__details">
                                    <div class="Contact__detail"  data-aos="fade">
                                        <i class="fa fa-phone"></i> +48 123 456 789
                                    </div>
                                    <div class="Contact__detail"  data-aos="fade">
                                        <i class="fa fa-envelope"></i> amanda@lilo.zone
                                    </div>
                                    <div class="Contact__detail"  data-aos="fade">
                                        <i class="fa fa-clock-o"></i> Seg-Sex 7:00AM - 6:00PM
                                    </div>
                                    <div class="Contact__detail"  data-aos="fade">
                                        <i class="fa fa-map-marker"></i> Rua Harmonia, 797, São Paulo
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========================================= CONTACT SECTION :END ========================================= -->
        
        <!-- ========================================= PAGE FOOTER ========================================= -->
        <footer>
            <div class="container">
                <div class="flex-row">
                    <div class="col-sm-4">
                        <div class="footer-contacts">
                            <div class="footer-contact"><i class="fa fa-phone-square"></i> +48 123 456 789</div>
                            <div class="footer-contact"><i class="fa fa-envelope-square"></i> amanda@lilo.zone</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
<!--                        <img src="assets/images/logo.png" alt="Tej">-->
                        <div class="copyrights">Atualizado em outubro/2017</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-socials">
                            <a href="https://www.facebook.com/amanda.carolina.923"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
<!--                            <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>-->
                            <a href="https://twitter.com/carolinamanda8"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                            <a href="https://br.pinterest.com/acarolina1076/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ========================================= PAGE FOOTER :END ========================================= -->
    </div>
       <!-- Configuration file -->
    <script src="settings/config.js"></script>
    
    <script>
        // Overwriting default value of Preloader duration
        window.Config.preloader.duration = 1500;
    </script>

    <!-- Application scripts -->
    <script src="assets/js/app.js"></script>
</body>

</html>
